@use '../base/helpers' as *;

.content {
  border: 1px solid green;

  width: 100%;
  margin-top: rem(75 + 65);
  margin-bottom: rem(60);

  flex: 1;

  overflow: auto;

  #{&}__block--title {
    text-align: center;
    padding: rem(15);
  }

  #{&}__block--text {
    width: 90%;
    margin: 0 auto;
  }
}