@use '../base/helpers' as *;
@use '../base/variables' as *;

.footer {
  position: fixed;
  bottom: 0;
  
  background: $white;

  width: 100%;
  min-height: rem(60);

  display: flex;
  justify-content: space-around;
  align-items: center;

  button,
  a {
    border: none;
    background: transparent;

    i {
      font-size: rem(23);
      color: $accent-color;
    }

    &:hover {
      cursor: pointer;

      i {
        color: $accent-secondary;
      }
    }

    &:active {
      color: $accent-secondary;
    }

  }

}

