@use './variables' as *;

body,
input,
button,
textarea {
  font-family: $primary-font;
}

li {
  list-style-type: none;
}

button:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
}

.hidden {
  visibility: hidden;
}