$primary-text-color: #121212;
$secondary-text-color: #1f1f1f;
$accent-color: #f27405;
$accent-secondary: #05c9f2;
$white: #f9f9f9;
$black: #1e1e1e;
$dark-grey: #757575;
$darker-grey: #616161;
$light-grey: #9e9e9e;
$lighter-grey: #e0e0e0;

$primary-font: 'Poppins', sans-serif;

$font-weights: (
  "skinny": 100,
  "thin": 200,
  "normal": 400,
  "thick": 500,
  "bold": 600
);